In [3]:
print(" Ranjeesh Perumbidi")
print (" D460018")
print (" ranjeeshp1998@gmail.com")

 Ranjeesh Perumbidi
 D460018
 ranjeeshp1998@gmail.com

In [17]:
print("\tRanjeesh Perumbidi\n\tD460018\n\tranjeeshp1998@gmail.com")

	Ranjeesh Perumbidi
	D460018
	ranjeeshp1998@gmail.com

In [6]:

print ("14 + 7 = 7")
print ("14 - 7 = 7")
print ("14 * 7 = 98")
print ("14 / 7 = 2 ")

14 + 7 = 7
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2

In [15]:
print("1")
print("2")
print("3")
print("4")
print("5")

1
2
3
4
5

In [21]:
print ('"SDK" stands for "Software Development Kit",whereas\n"IDE" stands for "Integrated Development Environment" ')

"SDK" stands for "Software Development Kit",whereas
"IDE" stands for "Integrated Development Environment"

In [23]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [31]:
num=23
textnum="57"
decimal=98.3

In [55]:
print(type(num))
print(type(textnum))
print (type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [61]:
num=23
textnum="57"
decimal=98.3
total_sum = num+textnumint+decimal

# change the textnum into integer 
textnumint = int(textnum)

print('the sum of the variables is :', total_sum)

the sum of the variables is : 178.3

In [69]:
 type(total_sum)

float

In [75]:
a = 365
b= 60 
c = 24
d= a*c*b

print('Total number of minutes in a year:',d)

Total number of minutes in a year: 525600

In [77]:
name = input(" Please enter your name")
print(f"Hello,{name} welcome to python programming")

 Please enter your name Ranjeesh

Hello,Ranjeesh welcome to python programming

In [89]:
dollar_rate  = 1.25
pounds = float(input("enter an amount in pounds (£): "))
dollar = pounds * dollar_rate

print(f"{pounds} is equal to {dollar}")

enter an amount in pounds (£):  10

10.0 is equal to 12.5