In [21]:
# List of numbers
x=[25,35,40,60,80]

In [23]:
print (x)

[25, 35, 40, 60, 80]

In [1]:
 # Creating a list of 5 random numbers using a
a = [25,35,40,60,80]
print('the list of random numbers are',a)

the list of random numbers are [25, 35, 40, 60, 80]

In [3]:
type(a)

list

In [11]:
a[0] = 95
a[1] = 99
a[2] = 1

In [13]:
print('the list of random numbers are',a)

the list of random numbers are [95, 99, 1, 60, 80]

In [25]:
# Dictionary
person = {"Name":"John","Age":"25","Address":"New York"}
print("The details of the person is:",person)

The details of the person is: {'Name': 'John', 'Age': '25', 'Address': 'New York'}

In [31]:
person['Phone']='1234567890'

In [33]:
print("The details of the person is:",person)

The details of the person is: {'Name': 'John', 'Age': '25', 'Address': 'New York', 'Phone': '1234567890'}

In [35]:
#set

s = {1,2,3,4}

In [37]:
type(s)

set

In [53]:
s.add (6)
print (s)

{1, 2, 3, 4, 6}

In [55]:
s.remove(3)
print (s)

{1, 2, 4, 6}

In [57]:
# Tuple
t = (1,2,3,4)
print (t)

(1, 2, 3, 4)

In [59]:
type(t)

tuple

In [61]:
length =len(t)
print ("the length of tuple is:",length)

the length of tuple is: 4